src/main/resources/wsdl/LoginService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="LoginService"
             targetNamespace="http://www.wslogin.com/ws/LoginService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.wslogin.com/ws/LoginService">

    <!-- Types definition -->
    <types>
        <xs:schema>
            <xs:import namespace="http://www.wslogin.com/ws/LoginService" schemaLocation="../xsd/LoginService.xsd"/>
        </xs:schema>
    </types>
<!--    <types>-->
<!--        <xs:schema targetNamespace="http://www.wslogin.com/ws/LoginService">-->
<!--            &lt;!&ndash; Define complex types for request and response messages &ndash;&gt;-->
<!--            <xs:element name="LoginRequest">-->
<!--                <xs:complexType>-->
<!--                    <xs:sequence>-->
<!--                        <xs:element name="username" type="xs:string"/>-->
<!--                        <xs:element name="password" type="xs:string"/>-->
<!--                    </xs:sequence>-->
<!--                </xs:complexType>-->
<!--            </xs:element>-->

<!--            <xs:element name="LoginResponse">-->
<!--                <xs:complexType>-->
<!--                    <xs:sequence>-->
<!--                        <xs:element name="status" type="xs:boolean"/>-->
<!--                        <xs:element name="message" type="xs:string"/>-->
<!--                    </xs:sequence>-->
<!--                </xs:complexType>-->
<!--            </xs:element>-->

<!--            <xs:element name="LogoutRequest">-->
<!--                <xs:complexType>-->
<!--                    <xs:sequence>-->
<!--                        <xs:element name="sessionToken" type="xs:string"/>-->
<!--                    </xs:sequence>-->
<!--                </xs:complexType>-->
<!--            </xs:element>-->

<!--            <xs:element name="LogoutResponse">-->
<!--                <xs:complexType>-->
<!--                    <xs:sequence>-->
<!--                        <xs:element name="status" type="xs:boolean"/>-->
<!--                        <xs:element name="message" type="xs:string"/>-->
<!--                    </xs:sequence>-->
<!--                </xs:complexType>-->
<!--            </xs:element>-->
<!--        </xs:schema>-->
<!--    </types>-->

    <!-- Messages definition -->
    <message name="LoginRequestMsg">
        <part name="params" element="tns:LoginRequest"/>
    </message>

    <message name="LoginResponseMsg">
        <part name="params" element="tns:LoginResponse"/>
    </message>

    <message name="LogoutRequestMsg">
        <part name="params" element="tns:LogoutRequest"/>
    </message>

    <message name="LogoutResponseMsg">
        <part name="params" element="tns:LogoutResponse"/>
    </message>

    <!-- PortType definition -->
    <portType name="LoginServicePortType">
        <operation name="login">
            <input message="tns:LoginRequestMsg"/>
            <output message="tns:LoginResponseMsg"/>
        </operation>
        <operation name="logout">
            <input message="tns:LogoutRequestMsg"/>
            <output message="tns:LogoutResponseMsg"/>
        </operation>
    </portType>

    <!-- Binding definition -->
    <binding name="LoginServiceSOAPBinding" type="tns:LoginServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="login">
            <soap:operation soapAction="login"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="logout">
            <soap:operation soapAction="logout"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Service definition -->
    <service name="LoginService">
        <port name="LoginServicePort" binding="tns:LoginServiceSOAPBinding">
            <soap:address location="http://localhost:8080/ws/loginService"/>
        </port>
    </service>
</definitions>



